<section>
    <div class="container">
       

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>

                    <th scope="col">Image</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr id="{{this.product.Name}}">

                    <th scope="row">{{this.product.Name}}</th>
                    <td>{{this.product.price}}</td>
                    <td><img style="width: 50px;height:50px;" src="/product-images/{{this.product._id}}.jpg"></td>

                    <td>
                        {{!-- {{#if MinBtn}} --}}
                        <button  class="cart-item-count btn btn-primary mr-3"
                            onclick="changeQuantity('{{../user._id}}','{{this._id}}','{{this.product._id}}',-1,'{{this.product.Name}}')">-</button>
                        {{!-- {{/if}} --}}
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="btn btn-primary cart-item-count ml-3 "
                            onclick="changeQuantity('{{../user._id}}','{{this._id}}','{{this.product._id}}',1,'{{this.product.Name}}')">+</button>
                    </td>
                    <td>
                        {{!-- <a href="/remove-product/{{this._id}}" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete {{this.Name}}')">Remove</a> --}}
                        <button class="btn btn-danger"
                            onclick="RemoveProduct('{{this._id}}','{{this.product._id}}','{{this.product.Name}}')" >Remove</button>
                        {{!-- <a href="/admin/delete-product?id={{this._id}}&name=junaid"
                            class="btn btn-danger">Delete</a> --}}

                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
       
         <div class="float-right pr-5">
             <h3  class="float-left mr-5">
            Total : RS. <span  id="total">{{total}}</span>
        </h3>
             <a  href="/place-order" class="btn btn-success mt-3 " style="width:100%">Place Order</a>
        </div>
       
    </div>
</section>
<script>



    function changeQuantity(userId,cartId, proId, count,proName) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)

        $.ajax({
            url: '/change-product-quantity',
            data: {
                user:userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
               
                if (response.removeProduct) {
                    
                    alert("Product Removed from cart")
                    document.getElementById(proName).remove()
                    document.getElementById('total').innerHTML=response.total
                } else {
                     
                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML=response.total
                }

            }
        })
    }
    function RemoveProduct(cartId, proId,proName) {

        $.ajax({
            url: '/remove-product',
            data: {
                cart: cartId,
                product: proId
            },
            method: 'post',
            success: (response) => {
                console.log('hahah')
                if (response.status) {
                    document.getElementById(proName).remove()
                }

            }
        })
    }
</script>